@model IEnumerable<Grievance>
<html>
<head>
	<script src="https://cdn.tailwindcss.com"></script>
	<title>MyGrievances</title>
</head>
<body class="bg-gray-50">
	<div class="max-w-4xl mx-auto p-8 min-h-screen">
		<div class="flex justify-between items-center mb-6 bg-blue-600 p-4 rounded-lg shadow-lg text-white">
			<h1 class="text-2xl font-semibold">My Grievances</h1>
			<form method="get" action="@Url.Action("MyGrievances", "Grievance")">
				<div class="mb-4 d-flex justify-content-end">
					<select id="statusFilter" name="statusFilter" class="form-select w-auto" aria-label="Filter status">
						<option value="">Sort By</option>
						@foreach (var status in Enum.GetValues(typeof(GovConnect.Models.Status)))
						{
								<option value="@status">@status</option>
						}
					</select>
				</div>
			</form>
		</div>

		<div class="bg-gray-200 p-6 rounded-lg space-y-6">
			@if (Model != null && Model.Any())
			{
				foreach (var grievance in Model)
				{
					<div class="bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition duration-300 ease-in-out hover:bg-blue-50">
						<a href="@Url.Action("Details", "Grievance", new { id = grievance.GrievanceID })">
							<div class="flex justify-between">
								<div class="space-y-3">
									<p class="font-semibold text-gray-800">Title</p>
									<p class="font-semibold text-gray-800">Status</p>
									<p class="font-semibold text-gray-800">Posted on</p>
								</div>
								<div class="space-y-3">
									<p class="text-gray-900 text-lg font-medium">@grievance.Title</p>
									<p class="text-gray-500">@grievance.Status</p>
									<p class="text-gray-400">@grievance.CreatedAt.ToString("MM/dd/yyyy")</p>
								</div>
							</div>
						</a>
					</div>
				}
			}
			else
			{
				<div class="text-center text-gray-600 font-semibold text-lg">No grievances found.</div>
			}
		</div>
	</div>
	<script src="~/js/MyServices.js"></script>
</body>
</html>
