@model GovConnect.ViewModels.RegisterViewModel

@{
    Layout = "_Gov_Layout";
}
<html>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body >

    <!-- Main Registration Form Container -->
    <div class="bg-white p-10 rounded-lg shadow-lg w-full max-w-4xl">

        <!-- Form Heading -->
        <h1 class="text-center text-2xl font-bold mb-6">Register</h1>

        <!-- Form -->
        <form asp-action="Register" enctype="multipart/form-data" method="post" class="grid grid-cols-1 sm:grid-cols-2 gap-6">

            <!-- Profile Image Upload (span across columns) -->
            <div class="col-span-2 flex justify-center mb-6">
                <label for="profile-upload" class="cursor-pointer flex items-center space-x-4">
                    <div id="image-container" class="bg-white p-4 rounded-full border-2 border-gray-300 w-32 h-32 flex justify-center items-center relative">
                        <img id="profile-preview" src="" alt="Profile Image" class="hidden w-32 h-32 rounded-full object-cover">
                        <i id="default-icon" class="fas fa-user fa-5x text-gray-500"></i>
                        <input asp-for="ProfilePic" id="profile-upload" type="file" class="hidden" accept="image/*" value="@Model.ProfilePic">
                    </div>
                </label>
            </div>

            <!-- First Name -->
            <div class="flex justify-center">
                <div class="w-full">
                    <label class="block mb-1">First Name</label>
                    <input asp-for="FirstName" type="text" placeholder="Enter First Name" class="p-2 w-full border rounded" value="@Model.FirstName">
                    <br /><span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>

            <!-- Last Name -->
            <div class="flex justify-center">
                <div class="w-full">
                    <label class="block mb-1">Last Name</label>
                    <input asp-for="LastName" type="text" placeholder="Enter Last Name" class="p-2 w-full border rounded" value="@Model.LastName">
                    <br /><span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <!-- Email -->
            <div class="flex justify-center">
                <div class="w-full">
                    <label class="block mb-1">Email</label>
                    <input asp-for="Email" type="email" placeholder="Enter Email" class="p-2 w-full border rounded" value="@Model.Email">
                    <br /><span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <!-- Mobile -->
            <div class="flex justify-center">
                <div class="w-full">
                    <label class="block mb-1">Mobile</label>
                    <input asp-for="Mobile" type="text" placeholder="Enter Mobile No" class="p-2 w-full border rounded" value="@Model.Mobile">
                    <br /><span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
            </div>

            <!-- Password -->
            <div class="flex justify-center">
                <div class="w-full">
                    <label class="block mb-1">Password</label>
                    <input asp-for="Password" type="password" placeholder="Enter Password" class="p-2 w-full border rounded">
                    <br /><span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <!-- Confirm Password -->
            <div class="flex justify-center">
                <div class="w-full">
                    <label class="block mb-1">Confirm Password</label>
                    <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password" class="p-2 w-full border rounded">
                    <br /><span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <!-- Gender -->
            <div class="flex justify-center">
                <div class="w-full">
                    <label class="block mb-1">Gender</label>
                    <div class="flex items-center">
                        <input type="radio" name="gender" class="mr-2"> Male
                        <input type="radio" name="gender" class="ml-4 mr-2"> Female
                    </div>
                    <br /><span asp-validation-for="Gender" class="text-danger"></span>
                </div>
            </div>

            <!-- Pincode -->
            <div class="flex justify-center">
                <div class="w-full">
                    <label class="block mb-1">Pincode</label>
                    <input asp-for="Pincode" type="text" placeholder="Enter Pincode" class="p-2 w-full border rounded" value="@Model.Pincode">
                    <br /><span asp-validation-for="Pincode" class="text-danger"></span>
                </div>
            </div>

            <!-- Mandal -->
            <div class="flex justify-center">
                <div class="w-full">
                    <label class="block mb-1">Mandal</label>
                    <input asp-for="Mandal" type="text" placeholder="Enter Mandal" class="p-2 w-full border rounded" value="@Model.Mandal">
                    <br /><span asp-validation-for="Mandal" class="text-danger"></span>
                </div>
            </div>

            <!-- District -->
            <div class="flex justify-center">
                <div class="w-full">
                    <label class="block mb-1">District</label>
                    <input asp-for="District" type="text" placeholder="Enter District" class="p-2 w-full border rounded" value="@Model.District">
                    <br /><span asp-validation-for="District" class="text-danger"></span>
                </div>
            </div>

            <!-- City -->
            <div class="flex justify-center">
                <div class="w-full">
                    <label class="block mb-1">City</label>
                    <input asp-for="City" type="text" placeholder="Enter City" class="p-2 w-full border rounded" value="@Model.City">
                    <br /><span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>

            <!-- Village -->
            <div class="flex justify-center">
                <div class="w-full">
                    <label class="block mb-1">Village</label>
                    <input asp-for="Village" type="text" placeholder="Enter Village" class="p-2 w-full border rounded" value="@Model.Village">
                    <br /><span asp-validation-for="Village" class="text-danger"></span>
                </div>
            </div>

            <!-- Submit Button -->
            <div class="col-span-2 flex justify-center mt-4">
                <button type="submit" class="bg-blue-600 text-white px-6 py-2 rounded">Submit</button>
            </div>
        </form>
    </div>

</body>
</html>

<script>
    document.getElementById("profile-upload").addEventListener("change", function (event) {
        var file = event.target.files[0];
        var reader = new FileReader();

        reader.onload = function (e) {
            var imageElement = document.getElementById("profile-preview");
            var iconElement = document.getElementById("default-icon");

            // Hide the default icon and show the image
            iconElement.style.display = "none";
            imageElement.style.display = "block";
            imageElement.src = e.target.result;  // Set the image source to the uploaded file
        };

        if (file) {
            reader.readAsDataURL(file);  // Read the file as a data URL
        }
    });

    
</script>
