@model ForgotPasswordViewModel
<head>
	<title>Forgot Password</title>
</head>
<body>
	<div class="container d-flex justify-content-center align-items-center min-vh-100">
		<div class="bg-white rounded-lg shadow-lg p-4 w-100" style="max-width: 500px;">
			<form asp-action="SendOtp" method="post">
				<div class="mb-3">
					<label for="Email" class="form-label">Email</label>
					<div class="input-group">
						<span class="input-group-text"><i class="fas fa-user"></i></span>
						<input type="email" class="form-control" id="Email" name="Email" placeholder="Enter Email" aria-label="Email" required value="@Model.Email">
						<button class="btn btn-outline-secondary" type="submit">Send OTP</button>
					</div>
					@if (TempData["EmailMessage"] != null)
					{
						<div class="alert alert-info mt-2">
							@TempData["EmailMessage"]
						</div>
					}

				</div>
			</form>

			<form asp-action="VerifyOtp" method="post">
				<div class="mb-3">
					<input type="hidden" name="Email" value="@Model.Email" />
					<label for="OTP" class="form-label">OTP</label>
					<div class="input-group">
						<span class="input-group-text"><i class="fas fa-key"></i></span>
						<input type="text" class="form-control" id="OTP" name="Otp" placeholder="Enter OTP" aria-label="OTP" required>
					</div>
					@if (TempData["OtpMessage"] != null)
					{
						<div class="alert alert-info mt-2">
							@TempData["OtpMessage"]
						</div>
					}
				</div>

				<div class="mb-3">
					<label for="Password" class="form-label">Password</label>
					<div class="input-group">
						<span class="input-group-text"><i class="fas fa-lock"></i></span>
						<input type="password" class="form-control" id="Password" name="Password" placeholder="Enter Password" aria-label="Password" required>

					</div>
					@if (ViewData.ModelState["Password"]?.Errors.Count > 0)
					{
						<div class="alert alert-info mt-2">
							@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
						</div>
					}
				</div>

				<div class="mb-3">
					<label for="ConfirmPassword" class="form-label">Confirm Password</label>
					<div class="input-group">
						<span class="input-group-text"><i class="fas fa-lock"></i></span>
						<input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm Password" aria-label="Confirm Password" required>
					</div>
					@if (ViewData.ModelState["ConfirmPassword"]?.Errors.Count > 0)
					{
						<div class="alert alert-info mt-2">
							@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
						</div>
					}
				</div>

				<div class="d-flex justify-content-center mb-4">
					<button type="submit" class="btn btn-primary w-100">Reset</button>
				</div>
			</form>
		</div>
	</div>
</body>
