@model Scheme
<head>
	<title>Scheme Details - Andhra Pradesh</title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
	<div class="bg-light p-5 mb-5 container shadow rounded w-auto">
		<h1 class="text-2xl font-weight-bold mb-4">@Model.SchemeName</h1>
		<p class="text-muted mb-4">Andhra Pradesh</p>


		@if (!string.IsNullOrEmpty(@Model.Attributes))
		{
			<div class="flex space-x-2 mt-4">
				@foreach (var attribut in @Model.Attributes.Split(','))
				{
					<span class="bg-green-100 badge bg-success mb-3 text-sm font-medium px-2.5 py-0.5 rounded">
						@attribut
					</span>
				}
			</div>
		}

		<h2 class="h4 font-weight-bold mb-2" style="color:#36454F">Details</h2>
		<p class="text-muted mb-4 text-white">@Model.Details</p>

		<h2 class="h4 font-weight-bold mb-2" style="color:#36454F">Eligibility</h2>
		<p class="text-muted mb-4 text-light"><pre>@Model.Eligibility</pre></p>

		<h2 class="h4 font-weight-bold mb-2" style="color:#36454F">Application Process</h2>
		<p class="text-muted mb-4" style="color: #808080;">
			<pre>@Model.ApplicationProcess</pre>
		</p>

		<h2 class="h4 font-weight-bold mb-2" style="color:#36454F">Documents Required </h2>
		<p class="text-muted mb-4 text-white"><pre>@Model.DocsRequired</pre></p>
	</div>
</body>
