@model GovConnect.Models.Scheme

@{
    Layout = "_Gov_Layout";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scheme Details - Andhra Pradesh</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="bg-light p-5 mb-5 container shadow rounded w-auto">
        <h1 class="text-2xl font-weight-bold mb-4">@Model.SchemeName</h1>
        <p class="text-muted mb-4">Andhra Pradesh</p>


        @if (!string.IsNullOrEmpty(@Model.Attributes))
        {
            <div class="flex space-x-2 mt-4">
                @foreach (var attribut in @Model.Attributes.Split(','))
                {
                    <span class="bg-green-100 badge bg-success mb-3 text-sm font-medium px-2.5 py-0.5 rounded">
                        @attribut
                    </span>
                }
            </div>
        }

        <!-- Scheme Details Section -->
        <h2 class="h4 font-weight-bold mb-2" style="color:#36454F">Details</h2>
        <p class="text-muted mb-4 text-white">@Model.Details</p>

        <!-- Eligibility Section -->
        <h2 class="h4 font-weight-bold mb-2" style="color:#36454F">Eligibility</h2>
        <p class="text-muted mb-4 text-light"><pre>@Model.Eligibility</pre></p>

        <!-- Application Process Section -->
        <h2 class="h4 font-weight-bold mb-2" style="color:#36454F">Application Process</h2>
        <p class="text-muted mb-4" style="color: #808080;">
            <pre>@Model.ApplicationProcess</pre>
        </p>

        <!-- Documents Required Section -->
        <h2 class="h4 font-weight-bold mb-2" style="color:#36454F">Documents Required </h2>
        <p class="text-muted mb-4 text-white"><pre>@Model.DocsRequired</pre></p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
